%h2.header Historical Rankings

%br

%button.years{ type: 'select' } Year 

%table.rankings
  %tr.headers
    %td Year
    %td Team
    %td Wins
    %td Losses
  - @league.histories.each do |history|
    %tr.history_row
      %td
        = history.year
      %td
        = history.team
      %td
        = history.wins
      %td
        = history.losses

%br

= link_to "New History", new_league_history_path
%br
= link_to "Back", league_path(@league)
